

.main-container {
  max-width: 320px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.578);
  border-radius: 10px;
}


input[type="text"] {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 2em;
  color: #333;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease;
}


input[type="text"]:focus {
  border-color: #5675ff; 
  outline: none; 
}


.semi-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}


button {
  font-size: 2em;
  padding: 15px;
  background-color: #1f0248;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}


button:hover {
  background-color: #5675ff; 
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}


.greenButton {
  background-color: green;
  color: white;
}

#redButton {
  background-color: red;
  color: white;
}

.title-name {
  text-transform: uppercase;
  font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  color: rgb(247, 255, 4);
  background-color: black;
  height: 70px;
  width: 100%; 
  max-width: 30rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
