.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: static;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  gap: 15px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(128, 0, 255);
}

.footer-title{
  color: #fff;
}
